# Dashboard Password Protection
# This password is used to authenticate access to the vCenter Dashboard
# Set this in your Vercel project environment variables as well
NEXT_PUBLIC_DASHBOARD_PASSWORD=!CSsr3domestic
